<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugestão</title>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mx-auto"></div>
            <form action="" method="post">
                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </form>
            </div>
        </div>
    </div>
    <script th:src="@{../js/bootstrap.min.js}"></script>
</body>
</html>