<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <main class="container-fluid" layout:fragment="corpo">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 mx-auto">
                <div th:each="sugestao: ${sugestoes}" class="card shadow my-3">
                    <div class="row g-0">
                        <div class="col-sm-3 col-md-2 col-lg-1">
                            <span class="fa-3x ms-3 mt-3 fa-solid " th:classappend="(${sugestao.tipo.id == 4 } ? 'fa-comment' : '') + 
                            (${sugestao.tipo.id == 14 } ? 'fa-heart-crack' : '') + 
                            (${sugestao.tipo.id == 24 } ? 'fa-lightbulb' : '') +
                            (${sugestao.tipo.id == 34 } ? 'fa-heart' : '')"></span>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${sugestao.tipo.descricao}"></h5>
                                <p class="card-text" th:text="${sugestao.conteudo}"></p>
                                <div class="row">
                                    <div class="col-5" th:text="${sugestao.curso.nome}"></div>
                                    <div class="col-4" th:text="${sugestao.autor}">
                                    </div>
                                    <div class="col-3">
                                        <span class="card-text"><small th:text="${sugestao.data}" class="text-muted"></small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
