<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Criar Formulário para Inclusão de Curso-->
    <div class="container" layout:fragment="corpo">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
                <form action="/cursos/salvar" method="post" th:object="${curso}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" th:field="*{nome}" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>